/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

img.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

/* Fixes navbar overlapping issue*/

@media only screen and (max-width: 1200px) {
    nav .container {
        width: 80%;
    }
}
@media only screen and (max-width: 400px) {
    nav .container {
        width: 95%;
    }
}

/* Center the bio picture titles */

#students p,
#mentors p {
    text-align: center;
}
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
nav ul a,
nav .brand-logo {
    color: #fff;
}
p {
    line-height: 2rem;
}
img {
    width: 100%;
}
.button-collapse {
    color: #26a69a;
}
.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
    width: 100%;
}
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}
@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
footer.page-footer {
    margin: 0;
}
.effect7
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

#slash{

			background-image: linear-gradient(60deg, #BA0ED3 50%, #7F0091 50%);
}

.julianmodel{
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX5759930.jpg);
    color: white;
}
